.background{
  position: absolute;
}

.blue-sky{
  width: 1200px;
  height: 672px;
  background-color: #63adff;
}

.block1{
  width: 16px;
  height: 16px;
  transform: scale(3);
  transform-origin: top left;

  background-position: 0px 0px;
  background-image: url('/img/tiles.png');
}

.mario{
  position: relative;
  transform: scale(3);
  transform-origin: top left;

  background-image: url('/img/characters.gif');
}

.mario-normal-small-idle{
  width: 12px;
  height: 16px;
  background-position: -277px -44px;
}

.mario-normal-big-idle{
  width: 16px;
  height: 24px;
  background-position: -258px -36px;
}